@charset "utf-8";
@import 'typography.css';
html, body {
	padding: 0px;
	margin: 0;
}

/* Header ******/
header div {
	height: 600px;
	background-image: url(../img/header.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
}

/* News Sections ***/
.section-news {
	background: #8AECF7;
}

.container {
	width: 90%;
	margin: 0 auto;	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.news-container {
}

.news-container-item {
	padding: 10px;
	margin: 10px;
	flex-grow: 1;
	background: hsla(359,69%,28%,0.5);
}

/* Org Sections ***/
.section-organisation {
	background: #995CB0;
}

.container {
	width: 90%;
	margin: 0 auto;	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.organisation-container {
}

.organisation-container-item {
	padding: 10px;
	margin: 10px;
	flex-grow: 1;
	background: hsla(359,69%,28%,0.5);
}

/* Boss Sections ***/
.section-boss {
	background: #1E6187;
}

.container {
	width: 90%;
	margin: 0 auto;	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.boss-container {
}

.boss-container-item {
	padding: 10px;
	margin: 10px;
	flex-grow: 1;
	background: hsla(359,69%,28%,0.5);
}


/* Footer *****/
footer {
	height: 150px;
	color: #FFF;
	background: #057A98;
	text-align: center;
	align-items: center;
}