@charset "utf-8";
.header {
	height: 600px;
	background-image: url(../img/header.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
}
/* NEWS **********************************/
.mainNews {
}
.sectionNewsItems {
	width: 100%;
}
.divItemsNews {
	width: 320px;
	height: 160px;
	background-color: #FFF;
	display: inline-block;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
}
.divItemsNewsTitle {
	padding: 10px;
	position: relatite;
	float: left;
	background-color: hsla(0,0%,90%,0.50);
}
.divItemsNewsDate {
	float: right;
	padding: 10px;
	text-align: right;
	background-color: hsla(0,0%,100%,0.50);
	position: relative;
}
/* NEWS **********************************/
.articleOrganisation {
	height: 600px;
	background-color: #CACACA;
}
